@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access denied - HR_System</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css?v=AKvNjO3dCPPS0eSU1Ez8T2wI280i08yGycV9ndytL-c" />
    <link rel="stylesheet" href="/HRSystem.styles.css" />
</head>
<body>
    <header>
        <nav b-moav2p38em class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div b-moav2p38em class="container-fluid">
                <a class="navbar-brand" href="/">HR_System</a>
                <button b-moav2p38em class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span b-moav2p38em class="navbar-toggler-icon"></span>
                </button>
                <div b-moav2p38em class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul b-moav2p38em class="navbar-nav flex-grow-1">
                        <li b-moav2p38em class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                    </ul>
                    
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link text-dark" title="Manage" href="/Home">Hello   @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <form class="form-inline"  asp-action="Logout"  method="get">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8NrjXYc1LGRImpwfXIrJtVL-SIWtEz4oWLFfGdfZo9V7EGFwQG1VahM2am90yC53KRFrhE5K40KhIUf504xrPQlcXNPQkhZmXbjHGZxQVQgyiTNslneTRDtnV-OKes9tdsspWBrqFj8rekE_O1jtPXS_gUu0BnpUz8c2pM1JibKtDa-J1WHhpn4unli8fZeZhw" /></form>
    </li>
</ul>

                </div>
            </div>
        </nav>
    </header>
    <div b-moav2p38em class="container">
        <main b-moav2p38em role="main" class="pb-3">
            
<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>

        </main>
    </div>

    <footer b-moav2p38em class="border-top footer text-muted">
        <div b-moav2p38em class="container">
            &copy; 2022 - HR_System - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    

<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="8d0b67def26e48929fa31ef61bdb6d99"data-requestMappingFromServer="false" data-connectUrl="http://localhost:64274/b0c1393077a8427c87bacc3b30a3d9f5/browserLink"></script>
<!-- End Browser Link -->

<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>
</html>
