@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="loading">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <title>Hr-system</title>
      <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.html">
      <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.html">
      <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.html">
      <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.html">
      <link rel="shortcut icon" type="image/png" href="~/app-assets/img/logo.png">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-touch-fullscreen" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="default">
      <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/chartist.min.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
      <link rel="stylesheet" type="text/css" href="~/app-assets/css/login.css">

   </head>
   <body>
    <section>
  
        <div class="box">
          
          <div class="square" style="--i:0;"></div>
          <div class="square" style="--i:1;"></div>
          <div class="square" style="--i:2;"></div>
          <div class="square" style="--i:3;"></div>
          <div class="square" style="--i:4;"></div>
          <div class="square" style="--i:5;"></div>
          
         <div class="container"> 
          <div class="form"> 
              <div class="text-center">
                <img src="~/app-assets/img/logo.png" >
              </div>
          
            <h2>Hr System Login  </h2>
            <form method="post" asp-action="Login">
              <div class="inputBx">
                <input asp-for="Email">
                <span>Login</span>
              
              </div>
              <div class="inputBx password">
                <input id="password-input" asp-for="passwrod">
                <span>Password</span>
                <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
              </div>
              
              <div class="inputBx d-flex align-items-center">
             <input class="form-check-input" asp-for="RemeberMe">
              <label class="form-check-label text-white me-2">Remember Me </label>

              </div>
              
                  
                <div asp-validation-summary="All"></div>
              <div class="inputBx">
                <input type="submit" value="Log in"> 
              </div>
            </form>
            <p>Forgot password? <a href="#">Click Here</a></p>
            <p>Don't have an account <a asp-action="Register">Sign up</a></p>
          </div>
        </div>
          
        </div>
      </section> 
      <script src="~/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
      <script src="~/app-assets/vendors/js/core/popper.min.js"></script>
      <script src="~/app-assets/vendors/js/core/bootstrap.min.js"></script>
      <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
      <script src="~/app-assets/vendors/js/prism.min.js"></script>
      <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
      <script src="~/app-assets/vendors/js/screenfull.min.js"></script>
      <script src="~/app-assets/vendors/js/pace/pace.min.js"></script>
      <script src="~/app-assets/vendors/js/chartist.min.js"></script>
      <script src="~/app-assets/js/app-sidebar.js"></script>
      <script src="~/app-assets/js/notification-sidebar.js"></script>
      <script src="~/app-assets/js/customizer.js"></script>
      <script src="~/app-assets/js/dashboard-ecommerce.js"></script>
      <script>
          function show_hide_password(target){
  var input = document.getElementById('password-input');
  if (input.getAttribute('type') == 'password') {
    target.classList.add('view');
    input.setAttribute('type', 'text');
  } else {
    target.classList.remove('view');
    input.setAttribute('type', 'password');
  }
  return false;
}

      </script>

   </body>
 