@model List<UserDataViewModel>
@{
    ViewData["Title"] = "Index";
    int x = 1;
}
  <section id="configuration">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title-wrap bar-success">
              <h4 class="card-title">Users Information</h4>
            </div>
          </div>
          <div class="card-body collapse show">
            <div class="card-block card-dashboard">

              <div class="row" style="
    justify-content: space-between;
    align-items: center;
">



                <div class="col-sm-12 col-md-5">
                  <div id="DataTables_Table_0_filter" class="dataTables_filter">
                    <label>Search:
                      <input type="search" id="search" onkeyup="Filter(event)" class="form-control form-control" placeholder=""
                        aria-controls="DataTables_Table_0">
                    </label>
                  </div>
                </div>

                <div class="col-lg-3">
                  <a class="btn" asp-action="AddNewUser">
                    <button id="addRow" class="btn btn-primary py-2"> <i class="ft-plus"></i>&nbsp;
                      Add New User</button></a>
                </div>
              </div>




              <table  class="table table-hover ">
                <thead class="bg-primary text-white">
                 <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Group Name</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="table">
                  @foreach (var item in Model)
                  {
                  <tr>
                    <th>@x</th>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.GroupName</td>
                    <td> <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id=@item.Id>Edit</a></td>
                    <td> <a asp-action="Delete" class="btn btn-outline-primary" asp-route-id=@item.Id onclick="del()">Delete</a></td>
                  </tr>
                  x++;
                  }

                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  @section Scripts{

      <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script>    
    function del(){
        var conf = confirm("Are you sure?");
        if(!conf){
            event.preventDefault();
        }
    }
        
        function Filter(){  
            var rows = document.querySelectorAll("tr");
            var tableheader = document.querySelector("tr");
            var name = event.target.value;
            for(var i of rows)
            {
                 i.style.display = "table-row";
            }
        for (var i of rows) 
        {
            if (!i.children[1].innerHTML.toLowerCase().includes(name.toLowerCase())) 
            {
                i.style.display = "none";

            }
        }
        tableheader.style.display = "table-row";
  };    


  </script>

  }