@model AttendanceEditViewModel 
<form class="form form-horizontal" method="post">
    <div class="form-body">
              
        <div class="form-group row">
            <label class="col-md-3 label-control text-left">Employee Name : </label>
            <input class="form-control" asp-for="EmployeeName" readonly>
        </div>
        <div class="form-group row">
            <label class="col-md-3 label-control text-left" for="projectinput7">Date : </label>
            <input class="form-control" asp-for="Date" readonly>
        </div>
        <div class="form-group row">
            <label class="col-md-3 label-control text-left" for="projectinput7">Start Time : </label>
            <input class="form-control" asp-for="Start">
            <span asp-validation-for="Start" class="text-danger"></span>
        </div>        
        <div class="form-group row">
            <label class="col-md-3 label-control text-left" for="projectinput7">End Time : </label>
            <input class="form-control" asp-for="End">
            <span asp-validation-for="End" class="text-danger"></span>
        </div>
    <div class="form-actions">
        <a type="button" class="btn btn-danger mr-1" asp-action="Index"><i class="icon-trash"></i> Cancel</a>
        <button type="submit" class="btn btn-success" asp-action="Edit" asp-route-Id="@Model.Id" onclick="Edit()"><i class="icon-note"></i> Save</button>
    </div>              
</form>
@section Scripts{
    <script>
        function Edit(){
            if(!confirm("Are you sure?")){
                event.preventDefault();
            }
        }
    </script>
    <partial name="_ValidationScriptsPartial"></partial>
}